.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

dbt/**/target/
dbt/**/logs/
airflow/logs/

# Local dbt connection profile
dbt/profiles/profiles.yml
